=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 12+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class AccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get account
    # Returns a single social media account.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param account_uuid [String] UUID of the social media account.
    # @param [Hash] opts the optional parameters
    # @return [Account]
    def get_account(workspace_uuid, account_uuid, opts = {})
      data, _status_code, _headers = get_account_with_http_info(workspace_uuid, account_uuid, opts)
      data
    end

    # Get account
    # Returns a single social media account.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param account_uuid [String] UUID of the social media account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Account, Integer, Hash)>] Account data, response status code and response headers
    def get_account_with_http_info(workspace_uuid, account_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountsApi.get_account ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling AccountsApi.get_account"
      end
      # verify the required parameter 'account_uuid' is set
      if @api_client.config.client_side_validation && account_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'account_uuid' when calling AccountsApi.get_account"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/accounts/{accountUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'accountUuid' + '}', CGI.escape(account_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Account'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountsApi.get_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountsApi#get_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accounts
    # Returns all social media accounts connected to the workspace.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [ListAccounts200Response]
    def list_accounts(workspace_uuid, opts = {})
      data, _status_code, _headers = list_accounts_with_http_info(workspace_uuid, opts)
      data
    end

    # List accounts
    # Returns all social media accounts connected to the workspace.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAccounts200Response, Integer, Hash)>] ListAccounts200Response data, response status code and response headers
    def list_accounts_with_http_info(workspace_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountsApi.list_accounts ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling AccountsApi.list_accounts"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/accounts'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountsApi.list_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountsApi#list_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
