=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 12+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class AIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate social media captions from a blog post
    # Generates platform-specific social media captions from a blog post URL or directly provided title and excerpt. Each platform generates one caption, which consumes one AI credit from the workspace's monthly allowance.  **Input modes** (at least one required): - **URL mode**: provide `url` and the API scrapes the blog content automatically, including detecting the featured image via `og:image`. - **Direct mode**: provide `title` and `excerpt` directly (no scraping).  If both are provided, direct values take priority.  When `create_post` is `true`, a draft post is created in the workspace with per-account caption versions. If an image is available (from `image_url` or the scraped `og:image`), it is imported into the workspace media library and attached to the draft post. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param blog_to_social_input [BlogToSocialInput] 
    # @param [Hash] opts the optional parameters
    # @return [BlogToSocial200Response]
    def blog_to_social(workspace_uuid, blog_to_social_input, opts = {})
      data, _status_code, _headers = blog_to_social_with_http_info(workspace_uuid, blog_to_social_input, opts)
      data
    end

    # Generate social media captions from a blog post
    # Generates platform-specific social media captions from a blog post URL or directly provided title and excerpt. Each platform generates one caption, which consumes one AI credit from the workspace&#39;s monthly allowance.  **Input modes** (at least one required): - **URL mode**: provide &#x60;url&#x60; and the API scrapes the blog content automatically, including detecting the featured image via &#x60;og:image&#x60;. - **Direct mode**: provide &#x60;title&#x60; and &#x60;excerpt&#x60; directly (no scraping).  If both are provided, direct values take priority.  When &#x60;create_post&#x60; is &#x60;true&#x60;, a draft post is created in the workspace with per-account caption versions. If an image is available (from &#x60;image_url&#x60; or the scraped &#x60;og:image&#x60;), it is imported into the workspace media library and attached to the draft post. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param blog_to_social_input [BlogToSocialInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlogToSocial200Response, Integer, Hash)>] BlogToSocial200Response data, response status code and response headers
    def blog_to_social_with_http_info(workspace_uuid, blog_to_social_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApi.blog_to_social ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling AIApi.blog_to_social"
      end
      # verify the required parameter 'blog_to_social_input' is set
      if @api_client.config.client_side_validation && blog_to_social_input.nil?
        fail ArgumentError, "Missing the required parameter 'blog_to_social_input' when calling AIApi.blog_to_social"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/ai/blog-to-social'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blog_to_social_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BlogToSocial200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AIApi.blog_to_social",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApi#blog_to_social\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
