=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 12+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class MediaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Abort chunked upload
    # Cancel an in-progress chunked upload session and clean up uploaded chunks.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param upload_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def abort_chunked_upload(workspace_uuid, upload_uuid, opts = {})
      abort_chunked_upload_with_http_info(workspace_uuid, upload_uuid, opts)
      nil
    end

    # Abort chunked upload
    # Cancel an in-progress chunked upload session and clean up uploaded chunks.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param upload_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def abort_chunked_upload_with_http_info(workspace_uuid, upload_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.abort_chunked_upload ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.abort_chunked_upload"
      end
      # verify the required parameter 'upload_uuid' is set
      if @api_client.config.client_side_validation && upload_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'upload_uuid' when calling MediaApi.abort_chunked_upload"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/chunked/{uploadUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'uploadUuid' + '}', CGI.escape(upload_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.abort_chunked_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#abort_chunked_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete chunked upload
    # Signal that all chunks have been uploaded. Returns the final media object.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param upload_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Media]
    def complete_chunked_upload(workspace_uuid, upload_uuid, opts = {})
      data, _status_code, _headers = complete_chunked_upload_with_http_info(workspace_uuid, upload_uuid, opts)
      data
    end

    # Complete chunked upload
    # Signal that all chunks have been uploaded. Returns the final media object.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param upload_uuid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Media, Integer, Hash)>] Media data, response status code and response headers
    def complete_chunked_upload_with_http_info(workspace_uuid, upload_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.complete_chunked_upload ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.complete_chunked_upload"
      end
      # verify the required parameter 'upload_uuid' is set
      if @api_client.config.client_side_validation && upload_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'upload_uuid' when calling MediaApi.complete_chunked_upload"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/chunked/{uploadUuid}/complete'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'uploadUuid' + '}', CGI.escape(upload_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Media'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.complete_chunked_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#complete_chunked_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete media (bulk)
    # Delete one or more media items by their IDs.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param delete_media_bulk_request [DeleteMediaBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_media_bulk(workspace_uuid, delete_media_bulk_request, opts = {})
      data, _status_code, _headers = delete_media_bulk_with_http_info(workspace_uuid, delete_media_bulk_request, opts)
      data
    end

    # Delete media (bulk)
    # Delete one or more media items by their IDs.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param delete_media_bulk_request [DeleteMediaBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_media_bulk_with_http_info(workspace_uuid, delete_media_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.delete_media_bulk ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.delete_media_bulk"
      end
      # verify the required parameter 'delete_media_bulk_request' is set
      if @api_client.config.client_side_validation && delete_media_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_media_bulk_request' when calling MediaApi.delete_media_bulk"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_media_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.delete_media_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#delete_media_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get media
    # Returns a single media asset.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param media_uuid [String] UUID of the media asset.
    # @param [Hash] opts the optional parameters
    # @return [Media]
    def get_media(workspace_uuid, media_uuid, opts = {})
      data, _status_code, _headers = get_media_with_http_info(workspace_uuid, media_uuid, opts)
      data
    end

    # Get media
    # Returns a single media asset.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param media_uuid [String] UUID of the media asset.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Media, Integer, Hash)>] Media data, response status code and response headers
    def get_media_with_http_info(workspace_uuid, media_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.get_media ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.get_media"
      end
      # verify the required parameter 'media_uuid' is set
      if @api_client.config.client_side_validation && media_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'media_uuid' when calling MediaApi.get_media"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/{mediaUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'mediaUuid' + '}', CGI.escape(media_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Media'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.get_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#get_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get remote upload status
    # Poll the status of an in-progress remote media download.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param download_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRemoteUploadStatus200Response]
    def get_remote_upload_status(workspace_uuid, download_id, opts = {})
      data, _status_code, _headers = get_remote_upload_status_with_http_info(workspace_uuid, download_id, opts)
      data
    end

    # Get remote upload status
    # Poll the status of an in-progress remote media download.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param download_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRemoteUploadStatus200Response, Integer, Hash)>] GetRemoteUploadStatus200Response data, response status code and response headers
    def get_remote_upload_status_with_http_info(workspace_uuid, download_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.get_remote_upload_status ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.get_remote_upload_status"
      end
      # verify the required parameter 'download_id' is set
      if @api_client.config.client_side_validation && download_id.nil?
        fail ArgumentError, "Missing the required parameter 'download_id' when calling MediaApi.get_remote_upload_status"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/remote/{downloadId}/status'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'downloadId' + '}', CGI.escape(download_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRemoteUploadStatus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.get_remote_upload_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#get_remote_upload_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiate chunked upload
    # Start a chunked upload session for large files. Returns an `upload_uuid`, `chunk_size`, and `total_chunks` to use for subsequent chunk requests. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param initiate_chunked_upload_request [InitiateChunkedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitiateChunkedUpload201Response]
    def initiate_chunked_upload(workspace_uuid, initiate_chunked_upload_request, opts = {})
      data, _status_code, _headers = initiate_chunked_upload_with_http_info(workspace_uuid, initiate_chunked_upload_request, opts)
      data
    end

    # Initiate chunked upload
    # Start a chunked upload session for large files. Returns an &#x60;upload_uuid&#x60;, &#x60;chunk_size&#x60;, and &#x60;total_chunks&#x60; to use for subsequent chunk requests. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param initiate_chunked_upload_request [InitiateChunkedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitiateChunkedUpload201Response, Integer, Hash)>] InitiateChunkedUpload201Response data, response status code and response headers
    def initiate_chunked_upload_with_http_info(workspace_uuid, initiate_chunked_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.initiate_chunked_upload ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.initiate_chunked_upload"
      end
      # verify the required parameter 'initiate_chunked_upload_request' is set
      if @api_client.config.client_side_validation && initiate_chunked_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'initiate_chunked_upload_request' when calling MediaApi.initiate_chunked_upload"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/chunked/initiate'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initiate_chunked_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitiateChunkedUpload201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.initiate_chunked_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#initiate_chunked_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiate remote upload
    # Download a file from a remote URL into the media library. For small files the media object is returned immediately. For large files a `download_id` is returned — poll the status endpoint. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param initiate_remote_upload_request [InitiateRemoteUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitiateRemoteUpload201Response]
    def initiate_remote_upload(workspace_uuid, initiate_remote_upload_request, opts = {})
      data, _status_code, _headers = initiate_remote_upload_with_http_info(workspace_uuid, initiate_remote_upload_request, opts)
      data
    end

    # Initiate remote upload
    # Download a file from a remote URL into the media library. For small files the media object is returned immediately. For large files a &#x60;download_id&#x60; is returned — poll the status endpoint. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param initiate_remote_upload_request [InitiateRemoteUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitiateRemoteUpload201Response, Integer, Hash)>] InitiateRemoteUpload201Response data, response status code and response headers
    def initiate_remote_upload_with_http_info(workspace_uuid, initiate_remote_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.initiate_remote_upload ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.initiate_remote_upload"
      end
      # verify the required parameter 'initiate_remote_upload_request' is set
      if @api_client.config.client_side_validation && initiate_remote_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'initiate_remote_upload_request' when calling MediaApi.initiate_remote_upload"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/remote/initiate'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initiate_remote_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitiateRemoteUpload201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.initiate_remote_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#initiate_remote_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List media
    # Returns a paginated list of media assets in the workspace library.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (20 items per page). (default to 1)
    # @return [ListMedia200Response]
    def list_media(workspace_uuid, opts = {})
      data, _status_code, _headers = list_media_with_http_info(workspace_uuid, opts)
      data
    end

    # List media
    # Returns a paginated list of media assets in the workspace library.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (20 items per page). (default to 1)
    # @return [Array<(ListMedia200Response, Integer, Hash)>] ListMedia200Response data, response status code and response headers
    def list_media_with_http_info(workspace_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.list_media ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.list_media"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.list_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#list_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update media
    # Update the alt text of a media asset.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param media_uuid [String] UUID of the media asset.
    # @param update_media_request [UpdateMediaRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_media(workspace_uuid, media_uuid, update_media_request, opts = {})
      data, _status_code, _headers = update_media_with_http_info(workspace_uuid, media_uuid, update_media_request, opts)
      data
    end

    # Update media
    # Update the alt text of a media asset.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param media_uuid [String] UUID of the media asset.
    # @param update_media_request [UpdateMediaRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_media_with_http_info(workspace_uuid, media_uuid, update_media_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.update_media ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.update_media"
      end
      # verify the required parameter 'media_uuid' is set
      if @api_client.config.client_side_validation && media_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'media_uuid' when calling MediaApi.update_media"
      end
      # verify the required parameter 'update_media_request' is set
      if @api_client.config.client_side_validation && update_media_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_media_request' when calling MediaApi.update_media"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/{mediaUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'mediaUuid' + '}', CGI.escape(media_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_media_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.update_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#update_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a chunk
    # Upload a single chunk of a chunked upload session.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param upload_uuid [String] 
    # @param chunk [File] 
    # @param chunk_index [Integer] Zero-based index of this chunk.
    # @param [Hash] opts the optional parameters
    # @return [UploadChunk201Response]
    def upload_chunk(workspace_uuid, upload_uuid, chunk, chunk_index, opts = {})
      data, _status_code, _headers = upload_chunk_with_http_info(workspace_uuid, upload_uuid, chunk, chunk_index, opts)
      data
    end

    # Upload a chunk
    # Upload a single chunk of a chunked upload session.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param upload_uuid [String] 
    # @param chunk [File] 
    # @param chunk_index [Integer] Zero-based index of this chunk.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadChunk201Response, Integer, Hash)>] UploadChunk201Response data, response status code and response headers
    def upload_chunk_with_http_info(workspace_uuid, upload_uuid, chunk, chunk_index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.upload_chunk ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.upload_chunk"
      end
      # verify the required parameter 'upload_uuid' is set
      if @api_client.config.client_side_validation && upload_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'upload_uuid' when calling MediaApi.upload_chunk"
      end
      # verify the required parameter 'chunk' is set
      if @api_client.config.client_side_validation && chunk.nil?
        fail ArgumentError, "Missing the required parameter 'chunk' when calling MediaApi.upload_chunk"
      end
      # verify the required parameter 'chunk_index' is set
      if @api_client.config.client_side_validation && chunk_index.nil?
        fail ArgumentError, "Missing the required parameter 'chunk_index' when calling MediaApi.upload_chunk"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/media/chunked/{uploadUuid}/upload'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'uploadUuid' + '}', CGI.escape(upload_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['chunk'] = chunk
      form_params['chunk_index'] = chunk_index

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadChunk201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.upload_chunk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#upload_chunk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload media (binary)
    # Upload a file directly as multipart form data.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param file [File] The file to upload.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :alt_text Alternative text for accessibility.
    # @return [Media]
    def upload_media(workspace_uuid, file, opts = {})
      data, _status_code, _headers = upload_media_with_http_info(workspace_uuid, file, opts)
      data
    end

    # Upload media (binary)
    # Upload a file directly as multipart form data.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param file [File] The file to upload.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :alt_text Alternative text for accessibility.
    # @return [Array<(Media, Integer, Hash)>] Media data, response status code and response headers
    def upload_media_with_http_info(workspace_uuid, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.upload_media ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling MediaApi.upload_media"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling MediaApi.upload_media"
      end
      if @api_client.config.client_side_validation && !opts[:'alt_text'].nil? && opts[:'alt_text'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"alt_text"]" when calling MediaApi.upload_media, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/{workspaceUuid}/media'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['alt_text'] = opts[:'alt_text'] if !opts[:'alt_text'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Media'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.upload_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#upload_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
