=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 8+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class PostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add post to queue
    # Add an existing post to the smart publishing queue.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @return [ScheduleResult]
    def add_post_to_queue(workspace_uuid, post_uuid, opts = {})
      data, _status_code, _headers = add_post_to_queue_with_http_info(workspace_uuid, post_uuid, opts)
      data
    end

    # Add post to queue
    # Add an existing post to the smart publishing queue.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleResult, Integer, Hash)>] ScheduleResult data, response status code and response headers
    def add_post_to_queue_with_http_info(workspace_uuid, post_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.add_post_to_queue ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.add_post_to_queue"
      end
      # verify the required parameter 'post_uuid' is set
      if @api_client.config.client_side_validation && post_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'post_uuid' when calling PostsApi.add_post_to_queue"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts/add-to-queue/{postUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'postUuid' + '}', CGI.escape(post_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.add_post_to_queue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#add_post_to_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve post
    # Approve a post that is pending review.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @return [ScheduleResult]
    def approve_post(workspace_uuid, post_uuid, opts = {})
      data, _status_code, _headers = approve_post_with_http_info(workspace_uuid, post_uuid, opts)
      data
    end

    # Approve post
    # Approve a post that is pending review.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleResult, Integer, Hash)>] ScheduleResult data, response status code and response headers
    def approve_post_with_http_info(workspace_uuid, post_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.approve_post ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.approve_post"
      end
      # verify the required parameter 'post_uuid' is set
      if @api_client.config.client_side_validation && post_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'post_uuid' when calling PostsApi.approve_post"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts/approve/{postUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'postUuid' + '}', CGI.escape(post_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.approve_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#approve_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create post
    # Create a new post. Use `schedule: true` with `date` and `time` to schedule, `schedule_now: true` to publish immediately, or `queue: true` to add to the smart publishing queue. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_input [PostInput] 
    # @param [Hash] opts the optional parameters
    # @return [Post]
    def create_post(workspace_uuid, post_input, opts = {})
      data, _status_code, _headers = create_post_with_http_info(workspace_uuid, post_input, opts)
      data
    end

    # Create post
    # Create a new post. Use &#x60;schedule: true&#x60; with &#x60;date&#x60; and &#x60;time&#x60; to schedule, &#x60;schedule_now: true&#x60; to publish immediately, or &#x60;queue: true&#x60; to add to the smart publishing queue. 
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_input [PostInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Post, Integer, Hash)>] Post data, response status code and response headers
    def create_post_with_http_info(workspace_uuid, post_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_post ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.create_post"
      end
      # verify the required parameter 'post_input' is set
      if @api_client.config.client_side_validation && post_input.nil?
        fail ArgumentError, "Missing the required parameter 'post_input' when calling PostsApi.create_post"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Post'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete post
    # Deletes a post. Use `delete_mode` to control whether to also remove the published content from social platforms.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @option opts [DeletePostRequest] :delete_post_request 
    # @return [DeleteResult]
    def delete_post(workspace_uuid, post_uuid, opts = {})
      data, _status_code, _headers = delete_post_with_http_info(workspace_uuid, post_uuid, opts)
      data
    end

    # Delete post
    # Deletes a post. Use &#x60;delete_mode&#x60; to control whether to also remove the published content from social platforms.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @option opts [DeletePostRequest] :delete_post_request 
    # @return [Array<(DeleteResult, Integer, Hash)>] DeleteResult data, response status code and response headers
    def delete_post_with_http_info(workspace_uuid, post_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.delete_post ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.delete_post"
      end
      # verify the required parameter 'post_uuid' is set
      if @api_client.config.client_side_validation && post_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'post_uuid' when calling PostsApi.delete_post"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts/{postUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'postUuid' + '}', CGI.escape(post_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'delete_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete posts (bulk)
    # Delete multiple posts at once.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param delete_posts_bulk_request [DeletePostsBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteResult]
    def delete_posts_bulk(workspace_uuid, delete_posts_bulk_request, opts = {})
      data, _status_code, _headers = delete_posts_bulk_with_http_info(workspace_uuid, delete_posts_bulk_request, opts)
      data
    end

    # Delete posts (bulk)
    # Delete multiple posts at once.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param delete_posts_bulk_request [DeletePostsBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteResult, Integer, Hash)>] DeleteResult data, response status code and response headers
    def delete_posts_bulk_with_http_info(workspace_uuid, delete_posts_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.delete_posts_bulk ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.delete_posts_bulk"
      end
      # verify the required parameter 'delete_posts_bulk_request' is set
      if @api_client.config.client_side_validation && delete_posts_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_posts_bulk_request' when calling PostsApi.delete_posts_bulk"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_posts_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.delete_posts_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#delete_posts_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post
    # Returns a single post with all its versions and associated accounts.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @return [Post]
    def get_post(workspace_uuid, post_uuid, opts = {})
      data, _status_code, _headers = get_post_with_http_info(workspace_uuid, post_uuid, opts)
      data
    end

    # Get post
    # Returns a single post with all its versions and associated accounts.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Post, Integer, Hash)>] Post data, response status code and response headers
    def get_post_with_http_info(workspace_uuid, post_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.get_post ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.get_post"
      end
      # verify the required parameter 'post_uuid' is set
      if @api_client.config.client_side_validation && post_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'post_uuid' when calling PostsApi.get_post"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts/{postUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'postUuid' + '}', CGI.escape(post_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Post'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.get_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#get_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts
    # Returns a paginated list of posts in the workspace.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [ListPosts200Response]
    def list_posts(workspace_uuid, opts = {})
      data, _status_code, _headers = list_posts_with_http_info(workspace_uuid, opts)
      data
    end

    # List posts
    # Returns a paginated list of posts in the workspace.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(ListPosts200Response, Integer, Hash)>] ListPosts200Response data, response status code and response headers
    def list_posts_with_http_info(workspace_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.list_posts ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.list_posts"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.list_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#list_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Schedule post
    # Schedule an existing post. Set `postNow: true` to publish immediately.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param schedule_post_request [SchedulePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ScheduleResult]
    def schedule_post(workspace_uuid, post_uuid, schedule_post_request, opts = {})
      data, _status_code, _headers = schedule_post_with_http_info(workspace_uuid, post_uuid, schedule_post_request, opts)
      data
    end

    # Schedule post
    # Schedule an existing post. Set &#x60;postNow: true&#x60; to publish immediately.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param schedule_post_request [SchedulePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleResult, Integer, Hash)>] ScheduleResult data, response status code and response headers
    def schedule_post_with_http_info(workspace_uuid, post_uuid, schedule_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.schedule_post ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.schedule_post"
      end
      # verify the required parameter 'post_uuid' is set
      if @api_client.config.client_side_validation && post_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'post_uuid' when calling PostsApi.schedule_post"
      end
      # verify the required parameter 'schedule_post_request' is set
      if @api_client.config.client_side_validation && schedule_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_post_request' when calling PostsApi.schedule_post"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts/schedule/{postUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'postUuid' + '}', CGI.escape(post_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.schedule_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#schedule_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update post
    # Replaces a post's versions, accounts, tags, and scheduling options. The post must not be in a published state.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param post_input [PostInput] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_post(workspace_uuid, post_uuid, post_input, opts = {})
      data, _status_code, _headers = update_post_with_http_info(workspace_uuid, post_uuid, post_input, opts)
      data
    end

    # Update post
    # Replaces a post&#39;s versions, accounts, tags, and scheduling options. The post must not be in a published state.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param post_uuid [String] UUID of the post.
    # @param post_input [PostInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_post_with_http_info(workspace_uuid, post_uuid, post_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.update_post ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling PostsApi.update_post"
      end
      # verify the required parameter 'post_uuid' is set
      if @api_client.config.client_side_validation && post_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'post_uuid' when calling PostsApi.update_post"
      end
      # verify the required parameter 'post_input' is set
      if @api_client.config.client_side_validation && post_input.nil?
        fail ArgumentError, "Missing the required parameter 'post_input' when calling PostsApi.update_post"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/posts/{postUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'postUuid' + '}', CGI.escape(post_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(post_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
