=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 12+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class ReceiptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create receipt
    # Creates a billing receipt record for a workspace. Admin only.
    # @param receipt_input [ReceiptInput] 
    # @param [Hash] opts the optional parameters
    # @return [Receipt]
    def create_receipt(receipt_input, opts = {})
      data, _status_code, _headers = create_receipt_with_http_info(receipt_input, opts)
      data
    end

    # Create receipt
    # Creates a billing receipt record for a workspace. Admin only.
    # @param receipt_input [ReceiptInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Receipt, Integer, Hash)>] Receipt data, response status code and response headers
    def create_receipt_with_http_info(receipt_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.create_receipt ...'
      end
      # verify the required parameter 'receipt_input' is set
      if @api_client.config.client_side_validation && receipt_input.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_input' when calling ReceiptsApi.create_receipt"
      end
      # resource path
      local_var_path = '/panel/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receipt_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Receipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReceiptsApi.create_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#create_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete receipt
    # Permanently deletes a single receipt. Admin only.
    # @param receipt_uuid [String] UUID of the receipt.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_receipt(receipt_uuid, opts = {})
      data, _status_code, _headers = delete_receipt_with_http_info(receipt_uuid, opts)
      data
    end

    # Delete receipt
    # Permanently deletes a single receipt. Admin only.
    # @param receipt_uuid [String] UUID of the receipt.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_receipt_with_http_info(receipt_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.delete_receipt ...'
      end
      # verify the required parameter 'receipt_uuid' is set
      if @api_client.config.client_side_validation && receipt_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_uuid' when calling ReceiptsApi.delete_receipt"
      end
      # resource path
      local_var_path = '/panel/receipts/{receiptUuid}'.sub('{' + 'receiptUuid' + '}', CGI.escape(receipt_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReceiptsApi.delete_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#delete_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete receipts (bulk)
    # Permanently deletes one or more receipt records. Admin only.
    # @param delete_receipts_bulk_request [DeleteReceiptsBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_receipts_bulk(delete_receipts_bulk_request, opts = {})
      data, _status_code, _headers = delete_receipts_bulk_with_http_info(delete_receipts_bulk_request, opts)
      data
    end

    # Delete receipts (bulk)
    # Permanently deletes one or more receipt records. Admin only.
    # @param delete_receipts_bulk_request [DeleteReceiptsBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_receipts_bulk_with_http_info(delete_receipts_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.delete_receipts_bulk ...'
      end
      # verify the required parameter 'delete_receipts_bulk_request' is set
      if @api_client.config.client_side_validation && delete_receipts_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_receipts_bulk_request' when calling ReceiptsApi.delete_receipts_bulk"
      end
      # resource path
      local_var_path = '/panel/receipts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_receipts_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReceiptsApi.delete_receipts_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#delete_receipts_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get receipt
    # Returns a single receipt by UUID. Admin only.
    # @param receipt_uuid [String] UUID of the receipt.
    # @param [Hash] opts the optional parameters
    # @return [Receipt]
    def get_receipt(receipt_uuid, opts = {})
      data, _status_code, _headers = get_receipt_with_http_info(receipt_uuid, opts)
      data
    end

    # Get receipt
    # Returns a single receipt by UUID. Admin only.
    # @param receipt_uuid [String] UUID of the receipt.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Receipt, Integer, Hash)>] Receipt data, response status code and response headers
    def get_receipt_with_http_info(receipt_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.get_receipt ...'
      end
      # verify the required parameter 'receipt_uuid' is set
      if @api_client.config.client_side_validation && receipt_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_uuid' when calling ReceiptsApi.get_receipt"
      end
      # resource path
      local_var_path = '/panel/receipts/{receiptUuid}'.sub('{' + 'receiptUuid' + '}', CGI.escape(receipt_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Receipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReceiptsApi.get_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#get_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List receipts
    # Returns a paginated list of billing receipts. Filter by workspace UUID or invoice number. Admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workspace_uuid 
    # @option opts [String] :invoice_number 
    # @option opts [Integer] :page Page number (15 items per page). (default to 1)
    # @return [ListReceipts200Response]
    def list_receipts(opts = {})
      data, _status_code, _headers = list_receipts_with_http_info(opts)
      data
    end

    # List receipts
    # Returns a paginated list of billing receipts. Filter by workspace UUID or invoice number. Admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :workspace_uuid 
    # @option opts [String] :invoice_number 
    # @option opts [Integer] :page Page number (15 items per page). (default to 1)
    # @return [Array<(ListReceipts200Response, Integer, Hash)>] ListReceipts200Response data, response status code and response headers
    def list_receipts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.list_receipts ...'
      end
      # resource path
      local_var_path = '/panel/receipts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'workspace_uuid'] = opts[:'workspace_uuid'] if !opts[:'workspace_uuid'].nil?
      query_params[:'invoice_number'] = opts[:'invoice_number'] if !opts[:'invoice_number'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListReceipts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReceiptsApi.list_receipts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#list_receipts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update receipt
    # Updates a receipt's transaction details, amount, or payment date. Admin only.
    # @param receipt_uuid [String] UUID of the receipt.
    # @param receipt_update_input [ReceiptUpdateInput] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_receipt(receipt_uuid, receipt_update_input, opts = {})
      data, _status_code, _headers = update_receipt_with_http_info(receipt_uuid, receipt_update_input, opts)
      data
    end

    # Update receipt
    # Updates a receipt&#39;s transaction details, amount, or payment date. Admin only.
    # @param receipt_uuid [String] UUID of the receipt.
    # @param receipt_update_input [ReceiptUpdateInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_receipt_with_http_info(receipt_uuid, receipt_update_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.update_receipt ...'
      end
      # verify the required parameter 'receipt_uuid' is set
      if @api_client.config.client_side_validation && receipt_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_uuid' when calling ReceiptsApi.update_receipt"
      end
      # verify the required parameter 'receipt_update_input' is set
      if @api_client.config.client_side_validation && receipt_update_input.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_update_input' when calling ReceiptsApi.update_receipt"
      end
      # resource path
      local_var_path = '/panel/receipts/{receiptUuid}'.sub('{' + 'receiptUuid' + '}', CGI.escape(receipt_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receipt_update_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReceiptsApi.update_receipt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#update_receipt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
