=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 8+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class TagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create tag
    # Creates a new color-coded tag in the workspace for organizing posts.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_input [TagInput] 
    # @param [Hash] opts the optional parameters
    # @return [Tag]
    def create_tag(workspace_uuid, tag_input, opts = {})
      data, _status_code, _headers = create_tag_with_http_info(workspace_uuid, tag_input, opts)
      data
    end

    # Create tag
    # Creates a new color-coded tag in the workspace for organizing posts.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_input [TagInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tag, Integer, Hash)>] Tag data, response status code and response headers
    def create_tag_with_http_info(workspace_uuid, tag_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.create_tag ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling TagsApi.create_tag"
      end
      # verify the required parameter 'tag_input' is set
      if @api_client.config.client_side_validation && tag_input.nil?
        fail ArgumentError, "Missing the required parameter 'tag_input' when calling TagsApi.create_tag"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/tags'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tag_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Tag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TagsApi.create_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#create_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete tag
    # Permanently deletes a tag. Posts that had this tag attached are unaffected.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_uuid [String] UUID of the tag.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_tag(workspace_uuid, tag_uuid, opts = {})
      data, _status_code, _headers = delete_tag_with_http_info(workspace_uuid, tag_uuid, opts)
      data
    end

    # Delete tag
    # Permanently deletes a tag. Posts that had this tag attached are unaffected.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_uuid [String] UUID of the tag.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_tag_with_http_info(workspace_uuid, tag_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.delete_tag ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling TagsApi.delete_tag"
      end
      # verify the required parameter 'tag_uuid' is set
      if @api_client.config.client_side_validation && tag_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tag_uuid' when calling TagsApi.delete_tag"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/tags/{tagUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'tagUuid' + '}', CGI.escape(tag_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TagsApi.delete_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#delete_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tag
    # Returns a single tag by UUID.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_uuid [String] UUID of the tag.
    # @param [Hash] opts the optional parameters
    # @return [Tag]
    def get_tag(workspace_uuid, tag_uuid, opts = {})
      data, _status_code, _headers = get_tag_with_http_info(workspace_uuid, tag_uuid, opts)
      data
    end

    # Get tag
    # Returns a single tag by UUID.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_uuid [String] UUID of the tag.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tag, Integer, Hash)>] Tag data, response status code and response headers
    def get_tag_with_http_info(workspace_uuid, tag_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.get_tag ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling TagsApi.get_tag"
      end
      # verify the required parameter 'tag_uuid' is set
      if @api_client.config.client_side_validation && tag_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tag_uuid' when calling TagsApi.get_tag"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/tags/{tagUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'tagUuid' + '}', CGI.escape(tag_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Tag'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TagsApi.get_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#get_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tags
    # Returns all tags defined in the workspace.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [ListTags200Response]
    def list_tags(workspace_uuid, opts = {})
      data, _status_code, _headers = list_tags_with_http_info(workspace_uuid, opts)
      data
    end

    # List tags
    # Returns all tags defined in the workspace.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListTags200Response, Integer, Hash)>] ListTags200Response data, response status code and response headers
    def list_tags_with_http_info(workspace_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.list_tags ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling TagsApi.list_tags"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/tags'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TagsApi.list_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#list_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update tag
    # Updates a tag's name or color.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_uuid [String] UUID of the tag.
    # @param tag_input [TagInput] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_tag(workspace_uuid, tag_uuid, tag_input, opts = {})
      data, _status_code, _headers = update_tag_with_http_info(workspace_uuid, tag_uuid, tag_input, opts)
      data
    end

    # Update tag
    # Updates a tag&#39;s name or color.
    # @param workspace_uuid [String] UUID of the workspace.
    # @param tag_uuid [String] UUID of the tag.
    # @param tag_input [TagInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_tag_with_http_info(workspace_uuid, tag_uuid, tag_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.update_tag ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling TagsApi.update_tag"
      end
      # verify the required parameter 'tag_uuid' is set
      if @api_client.config.client_side_validation && tag_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'tag_uuid' when calling TagsApi.update_tag"
      end
      # verify the required parameter 'tag_input' is set
      if @api_client.config.client_side_validation && tag_input.nil?
        fail ArgumentError, "Missing the required parameter 'tag_input' when calling TagsApi.update_tag"
      end
      # resource path
      local_var_path = '/{workspaceUuid}/tags/{tagUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s)).sub('{' + 'tagUuid' + '}', CGI.escape(tag_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tag_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TagsApi.update_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#update_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
