=begin
#PostBoost API

#The PostBoost REST API lets you publish, schedule, and analyze social media posts across 8+ platforms from a single integration. No OAuth apps to maintain — PostBoost handles platform authorization for you.  ## Base URL All workspace-scoped endpoints are prefixed with `/{workspaceUuid}`. Panel/admin endpoints are prefixed with `/panel`.  ## Authentication All requests require a Bearer token in the `Authorization` header. Generate tokens in your PostBoost dashboard under **Settings → Access Tokens**.  ``` Authorization: Bearer YOUR_API_TOKEN ``` 

The version of the OpenAPI document: 1.0.0
Contact: hi@postboost.co
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module PostBoost
  class WorkspacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add user to workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param workspace_user_input [WorkspaceUserInput] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def add_user_to_workspace(workspace_uuid, workspace_user_input, opts = {})
      data, _status_code, _headers = add_user_to_workspace_with_http_info(workspace_uuid, workspace_user_input, opts)
      data
    end

    # Add user to workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param workspace_user_input [WorkspaceUserInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def add_user_to_workspace_with_http_info(workspace_uuid, workspace_user_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.add_user_to_workspace ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling WorkspacesApi.add_user_to_workspace"
      end
      # verify the required parameter 'workspace_user_input' is set
      if @api_client.config.client_side_validation && workspace_user_input.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_user_input' when calling WorkspacesApi.add_user_to_workspace"
      end
      # resource path
      local_var_path = '/panel/workspaces/{workspaceUuid}/users'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_user_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.add_user_to_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#add_user_to_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create workspace
    # Create a new workspace. Admin only.
    # @param workspace_input [WorkspaceInput] 
    # @param [Hash] opts the optional parameters
    # @return [Workspace]
    def create_workspace(workspace_input, opts = {})
      data, _status_code, _headers = create_workspace_with_http_info(workspace_input, opts)
      data
    end

    # Create workspace
    # Create a new workspace. Admin only.
    # @param workspace_input [WorkspaceInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Workspace, Integer, Hash)>] Workspace data, response status code and response headers
    def create_workspace_with_http_info(workspace_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.create_workspace ...'
      end
      # verify the required parameter 'workspace_input' is set
      if @api_client.config.client_side_validation && workspace_input.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_input' when calling WorkspacesApi.create_workspace"
      end
      # resource path
      local_var_path = '/panel/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Workspace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.create_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#create_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_workspace(workspace_uuid, opts = {})
      data, _status_code, _headers = delete_workspace_with_http_info(workspace_uuid, opts)
      data
    end

    # Delete workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_workspace_with_http_info(workspace_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.delete_workspace ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling WorkspacesApi.delete_workspace"
      end
      # resource path
      local_var_path = '/panel/workspaces/{workspaceUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.delete_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#delete_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete workspaces (bulk)
    # @param delete_workspaces_bulk_request [DeleteWorkspacesBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_workspaces_bulk(delete_workspaces_bulk_request, opts = {})
      data, _status_code, _headers = delete_workspaces_bulk_with_http_info(delete_workspaces_bulk_request, opts)
      data
    end

    # Delete workspaces (bulk)
    # @param delete_workspaces_bulk_request [DeleteWorkspacesBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_workspaces_bulk_with_http_info(delete_workspaces_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.delete_workspaces_bulk ...'
      end
      # verify the required parameter 'delete_workspaces_bulk_request' is set
      if @api_client.config.client_side_validation && delete_workspaces_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_workspaces_bulk_request' when calling WorkspacesApi.delete_workspaces_bulk"
      end
      # resource path
      local_var_path = '/panel/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_workspaces_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.delete_workspaces_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#delete_workspaces_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [Workspace]
    def get_workspace(workspace_uuid, opts = {})
      data, _status_code, _headers = get_workspace_with_http_info(workspace_uuid, opts)
      data
    end

    # Get workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Workspace, Integer, Hash)>] Workspace data, response status code and response headers
    def get_workspace_with_http_info(workspace_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.get_workspace ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling WorkspacesApi.get_workspace"
      end
      # resource path
      local_var_path = '/panel/workspaces/{workspaceUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Workspace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.get_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#get_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workspaces
    # Returns a paginated list of all workspaces. Admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword 
    # @option opts [String] :subscription_status 
    # @option opts [String] :access_status 
    # @return [ListWorkspaces200Response]
    def list_workspaces(opts = {})
      data, _status_code, _headers = list_workspaces_with_http_info(opts)
      data
    end

    # List workspaces
    # Returns a paginated list of all workspaces. Admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword 
    # @option opts [String] :subscription_status 
    # @option opts [String] :access_status 
    # @return [Array<(ListWorkspaces200Response, Integer, Hash)>] ListWorkspaces200Response data, response status code and response headers
    def list_workspaces_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.list_workspaces ...'
      end
      allowable_values = ["active", "trialing", "past_due", "paused", "canceled", "incomplete"]
      if @api_client.config.client_side_validation && opts[:'subscription_status'] && !allowable_values.include?(opts[:'subscription_status'])
        fail ArgumentError, "invalid value for \"subscription_status\", must be one of #{allowable_values}"
      end
      allowable_values = ["subscription", "unlimited", "locked"]
      if @api_client.config.client_side_validation && opts[:'access_status'] && !allowable_values.include?(opts[:'access_status'])
        fail ArgumentError, "invalid value for \"access_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/panel/workspaces'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'subscription_status'] = opts[:'subscription_status'] if !opts[:'subscription_status'].nil?
      query_params[:'access_status'] = opts[:'access_status'] if !opts[:'access_status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkspaces200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.list_workspaces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#list_workspaces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove user from workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param remove_user_from_workspace_request [RemoveUserFromWorkspaceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def remove_user_from_workspace(workspace_uuid, remove_user_from_workspace_request, opts = {})
      data, _status_code, _headers = remove_user_from_workspace_with_http_info(workspace_uuid, remove_user_from_workspace_request, opts)
      data
    end

    # Remove user from workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param remove_user_from_workspace_request [RemoveUserFromWorkspaceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def remove_user_from_workspace_with_http_info(workspace_uuid, remove_user_from_workspace_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.remove_user_from_workspace ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling WorkspacesApi.remove_user_from_workspace"
      end
      # verify the required parameter 'remove_user_from_workspace_request' is set
      if @api_client.config.client_side_validation && remove_user_from_workspace_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_user_from_workspace_request' when calling WorkspacesApi.remove_user_from_workspace"
      end
      # resource path
      local_var_path = '/panel/workspaces/{workspaceUuid}/users'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_user_from_workspace_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.remove_user_from_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#remove_user_from_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param workspace_input [WorkspaceInput] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_workspace(workspace_uuid, workspace_input, opts = {})
      data, _status_code, _headers = update_workspace_with_http_info(workspace_uuid, workspace_input, opts)
      data
    end

    # Update workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param workspace_input [WorkspaceInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_workspace_with_http_info(workspace_uuid, workspace_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.update_workspace ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling WorkspacesApi.update_workspace"
      end
      # verify the required parameter 'workspace_input' is set
      if @api_client.config.client_side_validation && workspace_input.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_input' when calling WorkspacesApi.update_workspace"
      end
      # resource path
      local_var_path = '/panel/workspaces/{workspaceUuid}'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.update_workspace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#update_workspace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update user role in workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param workspace_user_input [WorkspaceUserInput] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update_workspace_user(workspace_uuid, workspace_user_input, opts = {})
      data, _status_code, _headers = update_workspace_user_with_http_info(workspace_uuid, workspace_user_input, opts)
      data
    end

    # Update user role in workspace
    # @param workspace_uuid [String] UUID of the workspace.
    # @param workspace_user_input [WorkspaceUserInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def update_workspace_user_with_http_info(workspace_uuid, workspace_user_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkspacesApi.update_workspace_user ...'
      end
      # verify the required parameter 'workspace_uuid' is set
      if @api_client.config.client_side_validation && workspace_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_uuid' when calling WorkspacesApi.update_workspace_user"
      end
      # verify the required parameter 'workspace_user_input' is set
      if @api_client.config.client_side_validation && workspace_user_input.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_user_input' when calling WorkspacesApi.update_workspace_user"
      end
      # resource path
      local_var_path = '/panel/workspaces/{workspaceUuid}/users'.sub('{' + 'workspaceUuid' + '}', CGI.escape(workspace_uuid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(workspace_user_input)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkspacesApi.update_workspace_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkspacesApi#update_workspace_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
